$grisOscuro:#363032;
$grisClaro:#E8E8E8;
$marronOscuro:#9B8277;
$marronClaro:#D1B99B;

$coloresPropios: (
	grisOscuro:$grisOscuro,
	grisClaro:$grisClaro,
	marronOscuro:$marronOscuro,
	marronClaro:$marronClaro
);