@import "fuente";
@import "colores";
@import "tamanios";

/*map-get*/
$estilos: (
	fuente:$fuente,
	color:$grisOscuro,
	centro:center,
	interlineado:1.6,
);

h1 {
	font-family:map-get($estilos, fuente);
	font-size:$h1Desktop;
	color:#6a6a6a;
	text-align:map-get($estilos, centro);
	font-weight:bold;
	padding-top:40px;
	margin:{
	left:10px;
	right:10px;
	}
	@media only screen and (max-width:767px){
		font-size:$h1Mobile;
	}
}

p {
	font-family:map-get($estilos, fuente);
	font-size:$textoDesktop;
	color:#6a6a6a;
	line-height:map-get($estilos, interlineado);
	padding:10px 40px 40px 40px;
	margin: 20px;
	@media only screen and (max-width:767px){
		font-size:$textoMobile;
		padding: 0px 20px 10px 20px;
	}
}

#sesionOnline {
	padding-bottom: 0px;
	font-size: 24px;
	text-decoration: underline;
	@media only screen and (max-width:767px){
		font-size: 18px;
	}
}

$vista:desktop;

@if $vista == desktop {
	@media only screen and (min-width:1024px){
		hr {
			margin:{
				left:80px;
				right:80px;
			}
		}
	} 
	@if else $vista == mobile {
		@media only screen and (max-width:767px){
			hr {
				margin:{
					left:30px;
					right:30px;
				}
			}
		}
	}
}

.card {
	margin:34px;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
	&:hover {
		transform: translateY(-15px);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}
	h4 {
		font-weight: bold;
	}
	p {
		padding: 5px;
		color: #6a6a6a;
	}
}

@mixin botones {
	text-decoration: none !important;
	font-family: $fuente;
	padding: 10px;
	border-radius: 4px;
}

.boton{
	@include botones;
	font-size: 20px;
	color: $grisOscuro;
	border: 1px solid $grisClaro;
	transition: all 0.5s ease;
	&:hover {
		background: $grisOscuro;
		color: $grisClaro;
		border: 1px solid $grisOscuro;
	}
}

.botonAtencion {
	@include botones;
	font-size:20px;
	color: $grisClaro;
	background: $grisOscuro;
	transition: all 400ms ease;
	@media only screen and (max-width:767px){
		font-size:18px;
	}
	&:hover {
		background: #3498db;
		color: $grisClaro;
	}
}

.botonSesion {
	@include botones;
	width: 150px;
	position: relative;
	left: 260px;
	font-size:20px;
	color: $grisClaro;
	background: $grisOscuro;
	transition: all 400ms ease;
	@media only screen and (max-width:767px){
		font-size:18px;
		left: 146px;
	}
	&:hover {
		background: #3498db;
		color: $grisClaro;
	}
}

.botonForm {
	@include botones;
	font-size:18px;
	color: $grisOscuro;
	background: $grisClaro;
	border: 1px solid $grisClaro;
	transition: all 1s ease;
	@media only screen and (max-width:767px){
		font-size:16px;
	}
	&:hover {
		color: $grisClaro;
		background: $grisOscuro;
		border: 1px solid $grisOscuro;
	}
}

.contenido{
	display: flex;
	justify-content: center;
	.contenido__foto {
		width: 90%;
		padding: 30px;
	}
	.contenido__texto {
		@extend .contenido__foto;
		text-align:justify;
	}
}

@for $i from 1 through 10 {
	.grosor-#{$i}{
		font-weight:100 *$i
	}
}

.servicio__imagen {
	padding: 40px;
	@media only screen and (max-width:767px){
		padding: 20px;
	}
}

.slider {
	padding: 40px;
	@media only screen and (max-width:767px){
		padding: 20px;
	}
}

.texto__atencionOnline {
	padding:{
		top: 30px;
	}
}
