@import "fuente";
@import "colores";
@import "tamanios";

.parallax {
	background-image: url("../assets/img/playa_desktop.png");
	height: 600px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media only screen and (max-width:767px){
		background-image: url("../assets/img/playa.jpg");
		height: 450px;
	}
}

@mixin estilo {
	font-family:$fuente;
	color:#6a6a6a;
	text-align:center;
}

h2 {
	@include estilo;
	font-size:$h2Desktop;
	letter-spacing:3px;
	@media only screen and (max-width:767px){
		font-size:$h2Mobile;
	}
}

h3 {
	@include estilo;
	font-size:$h3Desktop;
	padding-bottom: 40px;
	@media only screen and (max-width:767px){
		font-size:$h3Mobile;
		padding-bottom:5px;
	}
}

h4 {
	@include estilo;
	font-size:$h4Desktop;
	font-style: italic;
	@media only screen and (max-width:767px){
		font-size:$h4Mobile;
		padding:{
			left:20px;
			right:20px;
		}
	}
}

.encabezadoPrincipal {
	padding-top: 40px;
	h3 {
		padding-bottom: 20px;
	}
}
