@import "fuente";
@import "colores";
@import "tamanios";

footer {
	background-color:$grisOscuro;
	text-align:center;
	margin-top:30px;
	padding:{
		top:60px;
		bottom:60px;
	}
	@media only screen and (max-width:767px){
		padding:{
			top: 30px;
			bottom:30px;
		}
	}

	h5 {
		font-family:$fuente;
		font-size:$h5Desktop;
		color:$grisClaro;
		@media only screen and (max-width:767px){
			font-size:$h5Mobile;
		}
	}

	h6 {
		font-family:$fuente;
		font-size:$h6Desktop;
		color:$grisClaro;
		@media only screen and (max-width:767px){
			font-size:$h6Mobile;
			padding-top:10px;
			padding-bottom: 20px;
		}
	}

	.redes {
		&__titulo {
			padding-bottom: 10px;
		}

		&__iconoInstagram {
			padding-right:10px;
			font-size: 30px;
			color: $grisClaro;
			transition: all 400ms;
			&:hover {
				transform: scale(1.2,1.2) translateY(3px);
			}
		}

		&__iconoFacebook {
			padding-left: 10px;
			font-size: 30px;
			color: $grisClaro;
			transition: all 400ms;
			&:hover {
				transform: scale(1.2,1.2) translateY(3px);
			}
		}
		padding:{
			top: 20px;
			bottom: 20px;
		}
	}

	#contacto__linea {
		background: #E8E8E8;
		margin-right: 140px;
		margin-left: 140px;
		margin-bottom: 40px;
		@media only screen and (max-width:767px){
			margin-right: 100px;
			margin-left: 100px;
			margin-bottom: 20px;
		}
	}

	.contacto__icono {
		padding-bottom: 8px;
		font-size: 20px;
		color: $grisClaro;
		@media only screen and (max-width:767px){
			padding-bottom: 0px;
		}
	}

	@mixin flex-row-center {
		display:flex;
		flex-direction:row;
		justify-content:center;	
	}

	.newsletter {
		@include flex-row-center;
		align-items:baseline;
		padding-top: 110px;
		@media only screen and (max-width:767px){
			padding-top: 40px;
		}

		&__titulo {
			padding-right:5px;
			font-size: 18px;
		}

		&__email {
			font-size:12px;
			padding:1px;
			width: 250px;
			height: 22px;
			transition: all 1s;
			&:focus {
				width: 300px;
				font-size: 14px;
			}
			@media only screen and (max-width:767px){
				width: 120px;
				height: 22px;
				transition: all 1s;
				&:focus {
					width: 160px;
					font-size: 14px;
				}
			}	
		}

		#newsletter__boton {
			font-size:12px;
			padding: 1px;
		}
	}

	.footer__info {
		margin-top: 50px;
		@media only screen and (max-width:767px){
			margin-top: 30px;
		}
	}

	#copyright {
		padding-top: 60px;
		font-size:14px;
		@media only screen and (max-width:767px){
			padding-top: 10px;
			font-size:12px;
		}
	}
}

.btn-wsp {
	position: fixed;
	width: 75px;
	height: 75px; 
	line-height: 69px;
	bottom: 20px;
	right: 20px;
	background: #0df053;
	border-radius: 50px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
	transition: all 1s ease;
	text-align: center;
	z-index: 50;
	&:hover {
		transform: translateY(-10px);
		box-shadow: 0px 8px 12px rgba(0,0,0,0.3);
	}
}