.contacto {
  width: 100%;
  align-items: center;
  margin: 40px;
  &__formulario {
    padding: 20px;
  }
  &__mapa {
    @extend .contacto__formulario;
    iframe {
      width:100%;
    }
  }
  &__formulario--titulo {
    font-weight: bold;
    font-size: 20px;
    letter-spacing:1px;
    color: #6a6a6a;
    @media only screen and (max-width:767px){
      font-size: 18px;
    }
  }
  .form-group {
  font-family: $fuente;
}
}