$h1Desktop: 32px;
$h2Desktop: 58px;
$h3Desktop: 36px;
$h4Desktop: 28px;
$h5Desktop: 18px;
$h6Desktop: 16px;
$textoDesktop: 20px;

$h1Mobile: 22px;
$h2Mobile: 32px;
$h3Mobile: 26px;
$h4Mobile: 22px;
$h5Mobile: 16px;
$h6Mobile: 14px;
$textoMobile: 18px;