<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="En esta sección podrás obtener más información acerca de los distintos tipos de servicios: Desarrollo Personal, Pareja y Familia, Mindfulness">
  <meta name="keywords"  content="COUNSELING, TERAPIA, SERVICIOS, DESARROLLO PERSONAL, PAREJA Y FAMILIA, MINDFULNESS">  
	<title>Servicios - CB Counseling</title>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- CSS AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- CSS propio -->	
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
  <!-- Logo + Nav -->
  <div class="container-fluid sticky-top">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <nav class="navbar navbar-expand-lg navbar-light barraNav">
          <a href="../index.html"><img class="barraNav__logo" src="../assets/img/Logo.png" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse barraNav__nav" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="atencion_online.html">Atencion Online</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre_mi.html">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Contenido -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h1>SERVICIOS</h1>
        <hr>
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
      </div>
    </div>
    <div class="row servicios">
      <div class="col-lg-4 col-xs-12">
        <div class="card text-center" data-aos="zoom-in" data-aos-duration="1000">
          <img src="../assets/img/desarrollo_personal.png" class="card-img-top" alt="Desarrollo Personal">
          <div class="card-body">
            <h4 class="card-title text-center card__titulo">Desarrollo Personal</h4>
            <p class="card-text card__texto">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a href="#" class="boton">Leer mas</a> 
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="card text-center" data-aos="zoom-in" data-aos-duration="1000">
          <img src="../assets/img/pareja_y_familia.png" class="card-img-top" alt="Familia">
          <div class="card-body">
            <h4 class="card-title text-center card__titulo">Pareja y Familia</h4>
            <p class="card-text card__texto">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
           <a href="#" class="boton">Leer mas</a>        
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="card text-center" data-aos="zoom-in" data-aos-duration="1000">
          <img src="../assets/img/mindfulness.png" class="card-img-top" alt="Mindfulness">
          <div class="card-body">
            <h4 class="card-title text-center card__titulo">Mindfulness</h4>
            <p class="card-text card__texto">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <a href="#" class="boton">Leer mas</a>                           
          </div>
        </div>        
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="container-fluid">
    <footer class="row">
      <div class="col-lg-4 col-xs-12 newsletter">
        <h5 class="newsletter__titulo--boxModel">NEWSLETTER:</h5>
        <input type="email" placeholder="E-MAIL" class="newsletter__email--transformacion">
        <input type="submit" value="ENVIAR">
      </div>
      <div class="col-lg-4 col-xs-12 redes">
        <h5 class="redes__titulo">REDES SOCIALES</h5>
          <img src="../assets/img/logoInsta.png" alt="Instagram" class="redes__iconoInstagram--transformacion">
          <img src="../assets/img/logoFace.png" alt="Facebook" class="redes__iconoFacebook--transformacion">
      </div>
      <div class="col-lg-4 col-xs-12 copyright">
        <h6 class="copyright__texto">© 2021 CB Counseling, todos los derechos reservados</h6>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
  </script>
</body>
</html>